<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">tiger</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">scott</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        
        <!-- 执行操作时是否在控制台打印sql -->
		<property name="hibernate.show_sql">true</property>

		<!-- 是否对sql进行格式化 -->
		<property name="hibernate.format_sql">true</property>

		<!-- 指定自动生成数据表的策略 -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- 配置 C3P0 数据源 -->
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="c3p0.acquire_increment">2</property>

		<property name="c3p0.idle_test_period">2000</property>
		<property name="c3p0.timeout">2000</property>

		<property name="c3p0.max_statements">10</property>

		<!-- 设定 JDBC 的 Statement 读取数据的时候每次从数据库中取出的记录条数 -->
		<property name="hibernate.jdbc.fetch_size">100</property>

		<!-- 设定对数据库进行批量删除，批量更新和批量插入的时候的批次大小 -->
		<property name="jdbc.batch_size">30</property>
		
		<mapping resource="com/lifuz/one2one/foreign/Manager.hbm.xml"/>
		<mapping resource="com/lifuz/one2one/foreign/Department.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
